body {
    background: #eeeeee;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

header {
    position: relative;
    height: 120px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

#logo {
    left: -50px;
    top: 10px;
    position: absolute;
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
    width: 200px;
    height: 100px;
    background-image: url('../img/logo.png');
    text-indent: -9999px;
}

.title {
    text-align: center;
    color: white;
    background: black;
    line-height: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.sub-title {
    text-align: center;
    line-height: 3.5em;
    font-size: 1.25em;
}

#sidebar {
    float: right;
    width: 350px;
}

#sidebar p {
    text-align: justify;
    padding-right: 1em;
}

#sidebar iframe {
    margin-bottom: 1em;
}

#posts {
    width: 440px;
    padding-left: 1em;
}

#posts p {
	margin-top: 0;
	margin-bottom: 0;
}

.post {
	margin-bottom: 1.5em;
}

.address {
    color: #777;
    padding-left: 5em;
}

h1 {
    font-size: 1.25em;
    margin-bottom: 0;
}

#sidebar h2 {
    font-size: 1.0em;
    margin: 0;
    color: #a9a9a9;
}

footer {
    clear: both;
}

.date {
	font-size: 0.7em;
	color: grey;
	font-style: italic;
	text-align: right;
	margin-right: 2em;
}

#dojo-logo {
    float: left;
    padding-right: 10px;
    margin-bottom: -0.5em;
}

#login-status {
    position: absolute;
    right: 0px;
    top: 0px;
}

#login-status a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}